@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App{
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  font-family: 'Neucha';
  font-size: 3rem;
  color: white;
}

@media(max-width: 800px){
  .heading{
    margin: 3rem 0rem;
  }
}