@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
*{
  
  font-family: 'Neucha';
 
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ActiveTasksList {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.ActiveTasksList > span{
  font-size: 2rem;
}

.heading {
  font-size: 3rem;
  color: white;
}
.task__list {
  display: flex;
  background-color: #d1d1ff;
  justify-content: space-between;
  align-items: center;
  width: 120%;
  border: 0.5px solid;
  text-align: left;
 
  margin-bottom: 10px;
  padding: 10px;
  position: relative; /* Add position relative to the task__list */
  height: 2rem;
}
.task__list__id {
  font-size: 20px;
  padding: 0 5%;
}

.task__list__content {
  display: flex;
  flex-grow: 1; /* Allow content to grow and fill the remaining space */
}
.task__list__taskinfo {
  margin-top: 4px;
  font-size: 20px;
  overflow-wrap: break-word;
  flex-grow: 1;
}

.task__list__isDone {
  padding-left: 80%;
}

@media (max-width: 800px) {
  .heading {
    margin: 3rem 0rem;
  }

  .task__list__isDone {
    padding-left: 60%;
  }
}

.icons {
  display:flex;
   /*position: absolute; Position the icons absolutely */
   /*right: 10px; Adjust the right value as needed */

}

.icons > * {
  padding: 10px 10px; /* Adjust padding for spacing between icons */
  cursor:pointer
}

.icons > * > * {
  width: 20px;
  height: 20px;
}

.task-input-edit{
  outline: none;
  width: 40%;
  border:none;
  height: 30px;
  font-size: large;
}

.list-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;/* otherwise both lists won't stick just below input+add*/
  justify-content: center;
  width: 60%;
  margin-left: -7rem;
}


.CompletedTasksList{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7dc4ff;
  width: 50%;
  margin-right: 2rem; 
  padding: 0rem 5rem;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.5s ease-in-out;
 
}
.CompletedTasksList > span{
  font-size: 2rem;
  text-align: center;
}
.ActiveTasksList{
  background-color: #9f95f9;
  width: 50%;
  margin-right: 2rem; 
  padding: 0rem 5rem;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.dragActive{
background-color:  #393464;

}

.dragComplete{
 background-color: #034780;
}

